@font-face {
    font-family: "comfortaa";
    src: url("../fonts/comfortaa/comfortaa-regular.ttf");
}
@font-face {
    font-family: "comfortaa";
    src: url("../fonts/comfortaa/comfortaa-bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "comfortaa";
    src: url("../fonts/comfortaa/comfortaa-light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "kurale";
    src: url("../fonts/kurale/kurale-regular.ttf");
}

@font-face {
    font-family: "pt_sans";
    src: url("../fonts/pt_sans/pt_sans.ttf");
}



$green: #579e10;
$gold: #d1a815;
$black: #000000;
$white: #ffffff;



body {
	font-family: "comfortaa", cursive;	
}

.container {
	max-width: 1140px;
	padding: 0px 20px;
}

p {
	// margin-bottom: 20px;
}

.emphasizedParagraph {
	color: $gold;
	font-size: 16px;
	line-height: 30px;
}



// -----------------------------------------------------
// ---------- main navigation section ----------
.mainNavigation {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 47px;
	padding: 0px 20px;

	.companyDescription-logo {
		margin-top: 11px;
	}
	.companyDescription-burger {
	  display: inline-block;
	  margin-top: 14px;
	  cursor: pointer;
		.bar1,
		.bar2,
		.bar3 {
		    width: 30px;
		    height: 4px;
		    background-color: $green;
		    margin: 6px 0;
		}    
	}
}
.mainNavigation::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	background-image: url("../img/bgOrnament.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 100px;
	height: 180px;
	z-index: -1;
}



// -----------------------------------------------------
// ---------- company description section ----------
.companyDescription {
	margin-bottom: 110px;
	padding: 0px 20px;

	h2 {
		text-align: center;
		font-family: "kurale";
		font-size: 36px;
		margin-bottom: 32px;
	}
	img {
		display: block;
		margin: 0px auto;
		max-width: 100%;
		margin-bottom: 18px
	}
	p {
		margin: 0px;
		padding: 0px;
		margin-bottom: 20px;
		text-align: left;
	}
	.companyDescription-SunFoodsBrandDesc {
		padding-top: 13px;
		border-top: 6px solid $gold;
		text-align: center;
	}

	.companyDescription-SunFoodPromotion {
		font-size: 14px;
		line-height: 24px;
		color: $black;
	}
}



 



// -----------------------------------------------------
// ---------- manufacture description section ----------
.manufactureDescription {
	position: relative;

	header {
		display: flex;
		justify-content: center;
		height: 290px;
		background-image: url("../img/bgOrnament.png");
		background-repeat: no-repeat;
  	background-position: center;
  	border-bottom: 1px solid #eeeeee;
  	margin-bottom: 60px;
	}
	h2 {
		text-align: center;
		margin-top: auto;
		font-family: "kurale", serif;
		font-size: 36px;
		line-height: 40px;
	}

	.manufactureDescription-infraredDrying {
		background-image: url("../img/manufactureDescription/bgForPepper1.png");
	  background-repeat: no-repeat;
	  background-position: 85% 100%;
 
	  max-width: 555px;
	  height: 550px;
	  margin: 0 auto;
	  margin-top: 50px;
	  margin-bottom: 50px;
		
		.wrapper {
			position: relative;
			margin-left: auto;
			max-width: 277px;
			min-height: 50px;

		}

	  h3 {
	  	position: absolute;
	  	margin-top: 29px;
	  	left: 17%;
	  	color: $white;
	  	font-weight: bold;
	  	font-size: 24px;
	  }
	  @media only screen and (min-width: 390px) {
	  	h3 {
	  		left: 12%;
	  	}
	  }
	  @media only screen and (min-width: 500px) {
	  	h3 {
	  		left: 14px;
	  	}
	  }
	}

	.manufactureDescription-lowTempDrying {
		background-image: url("../img/manufactureDescription/bgForMeltedPepper2.png");
	  background-repeat: no-repeat;
	  background-position: 4% 100%;
 
	  max-width: 555px;
	  height: 485px;
	  margin: 0 auto;
	  margin-top: 50px;
	  margin-bottom: 30px;
		
		.wrapper {
			position: relative;
			margin-right: auto;
			max-width: 277px;
			min-height: 50px;

		}

	  h3 {
	  	padding-top: 29px;
	  	padding-left: 20px;
	  	color: $white;
	  	font-weight: bold;
	  	font-size: 24px;
	  }
	}

	.manufactureDescription-p {
		margin-top: 0px;
		padding: 0px 20px;
		font-size: 14px;
		line-height: 24px;
	}

	.manufactureDescription-premiumProduct {
		margin-top: 100px;
		margin-bottom: 100px;
		padding: 0px 20px;
		p {
			text-align: center;
			font-size: 20px;
			line-height: 30px;
		}
		p::before {
			content: url("../img/manufactureDescription/icon-premiumGold.png");
			display: block;
			margin-bottom: 20px;
		}
	}

	.manufactureDescription-bestBefore {
		padding: 0px 20px;
		padding-top: 60px;
		padding-bottom: 55px;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: $green;
		border-top: 6px solid $green;
		border-bottom: 6px solid $green;
	}

	.manufactureDescription-vegetableImg {
		display: block;
		max-width: 320px;
		margin: 0 auto;
		margin-top: 39px;
		margin-bottom: 10px;
	}

	p {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 20px;
	}

	.emphasizedParagraph-border {
		margin-top: 75px;
		margin-bottom: 75px;
		border: 6px solid #f7f7f7;
		padding: 60px 15px;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
	}	
}



// -----------------------------------------------------
// ---------- production safety section ----------
.productionSafety {
	position: relative;
	margin-bottom: 105px;
	padding: 0 20px;

	header {
		display: flex;
		justify-content: center;
		height: 290px;
		background-image: url("../img/bgOrnament.png");
		background-repeat: no-repeat;
  	background-position: center;
  	border-bottom: 1px solid #eeeeee;
  	margin-bottom: 60px;
  	h2 {
			text-align: center;
			margin-top: auto;
	    padding-bottom: 30px;
			font-family: "kurale", serif;
			font-size: 36px;
			line-height: 40px;
	  }
	}

	.productionSafety-advantages {
		h3 {
			font-weight: bold;
			font-size: 18px;
			line-height: 20px;
			color: $green;
		}
		p {
			font-size: 14px;
			font-line: 24px;
		}

//  style for lists
		ul {
			list-style: none;
			padding-left: 25px;
			li {
				position: relative;
				margin-bottom: 35px;
			}
			li::before {
				content: "■"; 
				color: $green;
	  		position: absolute; 
	  		width: 1em;
	  		left: -25px;
	  	}
  	}
	}

	.partialBorder {
		// box-sizing: border-box;
		padding-top: 55px;
		padding-right: 25px;
		border-top: 6px solid #f7f7f7;
		border-right: 6px solid #f7f7f7;
	}
}
.productionSafety::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 78px;
	height: 18px;
	background-image: url("../img/icon-little-rhombs.png");
	background-position: center;
}



// -----------------------------------------------------
// ---------- contacts section ----------
.contacts {
	padding: 0 20px;
	padding-bottom: 30px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;


  // Contact info block
	.contacts-contactInfo {
		h4 {
			margin-top: 0px;
			margin-bottom: 0px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.contacts-contactInfo-address {
			font-weight: 300;
		}
		a {
			display: block;
			text-decoration: none;
			color: inherit;
		}
		a:link {
	    text-decoration: none;
		}
		a:visited {
	    text-decoration: none;
		}
		a:hover {
	    font-size: 15px;
		}

		.contacts-contactInfo-email {	
			display: inline-block;
			margin-top: 20px;
			border-bottom: 3px solid #ddeccf;
			color: $green;
		}
	}

	// Sit Relain Company block
	.contacts-sitRelainCompany {
		display: block;
		margin-top: 30px;
		color: $green;
		
		p {
			display: inline;
			border-bottom: 3px solid #ddeccf;
		}
		h4 {
			display: inline-block;
			margin-top: 0px;
			border-bottom: 3px solid #ddeccf;
		}

	}
}



// -----------------------------------------------------
// ---------- footer ----------
footer {
	padding: 0 20px;
	padding-bottom: 23px;
	border-top: 1px solid #eeeeee;
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	color: #999999;

	a {
		position: relative;
		display: inline-block;
		text-decoration: none;
		color: $green;
	}
	a:link {
    text-decoration: none;
	}
	a:visited {
    text-decoration: none;
	}
	a:hover {
    font-size: 16px;
	}
	a::after {
		display: block;
	  content: '';
	  width: 90%;
	  height: 3px;
	  background-color: #ddeccf;
	  position: absolute;
	  bottom: 0px;
	  right: 20px;
	}
}


// =============================================================
// =============================================================
@media only screen and (min-width: 768px) {

	body {
		border-style: solid;
		border-width: 20px 20px 20px 20px;
		-moz-border-image: url("../img/borderTexture.png") 20 20 20 20 repeat;
		-webkit-border-image: url("../img/borderTexture.png") 20 20 20 20 repeat;
		-o-border-image: url("../img/borderTexture.png") 20 20 20 20 repeat;
		border-image: url("../img/borderTexture.png") 20 20 20 20 repeat;
	}



	// ---------- company description section ----------
	.companyDescription {

		.sunFoodBrandDesc_block {
			width: 90%;
			margin: 0 auto;
			position: relative;
		}
		.companyDescription-SunFoodsBrandDesc {
			padding: 60px;
			padding-bottom: 0;
		}
		.leftBorder {
			position: absolute;
			left: 0px;
			top: 0px;
			width: 6px;
			height: 400px;
			background-color: $gold;
		}
		.rightBorder {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 6px;
			height: 400px;
			background-color: $gold;
		}
	}

	.sunFoodPromotion_block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		max-width: 1000px;
		margin: 0 auto;
		margin-top: 50px;

		.companyDescription-NSTTechDesc,
		.companyDescription-SunFoodPromotion {
			width: 40%;
		}
		.companyDescription-NSTTechDesc{
			box-sizing: border-box;
			// padding-right: 20px;
		}
		p:last-of-type {
			margin-top: 55px;
		}
	}



	// ---------- manufacture description description section ----------
	.manufactureDescription {

		.manufactureDescription-premiumProduct {
			max-width: 540px;
			margin-left: auto;
			margin-right: auto;
		}

		.manufactureDescription-bestBefore {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}

		.emphasizedParagraph-border {
			padding-left: 10%;
			padding-right: 10%;
		}
	}



	// ---------- production safety section ----------
	.productionSafety {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: baseline;


		header {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		.productionSafety-advantages {
			margin-bottom: 30px;
			width: 40%;
		}

		/* First paragraph */
		div:nth-of-type(4) {
		  margin-top: 70px;
		}
	}

	// ---------- contacts section ----------
	.contacts {
		display: flex;
		justify-content: space-between;

		.contacts-sitRelainCompany {
			margin-top: 0;
			max-width: 220px;
		}
	}

	// ---------- footer ----------
	footer {
		display: flex;
		justify-content: space-between;
	}

}


@media only screen and (min-width: 1140px) {
	.container {
		max-width: 1140px;
	}

}